.outer {
    margin-top: 26px;
    border: none;
    height: 400px;
   
}



.outerStuff {
    border: rgb(64, 64, 64) solid 1px;
    border-radius: 5px;
    width: 97%;
    height: auto;
    margin-top: 40px;

}

.outer p {
    font-size: 35px;
   
    margin: 10px;
    margin-top: 29px;
}

.stuff {
    display: flex;
    flex-direction: column;


}

.li, .addTask{
   
    font-size: 15px;
    border-radius: 0;
    border-top: rgb(53, 53, 53) solid 1px;
    
    padding: 18px;
    padding-left: 35px;
}





.today {
    font-size: 18px;
    margin-left: 20px;
}


.Remind {
    border: none;
    background-color: blueviolet;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 5px;
    font-size: smaller;
    cursor: pointer;
    margin-left: 10%;
}

.Remind:hover {
    background-color: black;
    border: rgb(92, 92, 92) solid 1px;
}

.addReminder{
    border: rgb(64, 64, 64) solid 1px;
    border-radius: 5px;
    width: 50%;
    height: 200px;
    margin-top: 40px;

}

.addTask{
    padding-left: 100px;
    max-width: 98.3%;
}

