@keyframes showForms {
    from {

        opacity: 0;
    }



    to {

        opacity: 1;
    }
}

.registerDiv {
    animation: showForms 0.2s;
    display: flex;
    flex-direction: column;
 
  
}


.registerTitle{
    text-align: center;
    color: rgb(255, 255, 255);
}

.registerDiv input{
    width: calc(100% - 40px);
    padding: 14px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);

}

.button-outer {
    display: flex;
    justify-content: center;
}