.section3 {
    height: auto;
    margin-top: 9%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none;
    width: 100%;
    animation: titleAnimation2 1.9s ease-out;

    border-radius: 25px;
    margin-bottom: 10%;
}

.section3-title1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 4%;
}

.section3-title1 h2 {
    font-size: 1.5rem;
    /* Responsive font size */
    font-weight: 300;
    /* Light font weight for elegance */
    color: #ffffff;
    /* White text color */
}

.section3-title2 {
    text-align: center;
}

.section3-title2 h3 {
    font-size: 2rem;
    /* Responsive font size */
    font-weight: bold;
    color: #ffffff;
}

.section3-title2 h3 span {
    color: rgb(0, 89, 255);
}

.tradeMark p {
    font-size: 0.875rem;
    /* Responsive font size */
    color: #cccccc;
    /* Light grey for less emphasis */
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-top: 10px;
}



.section3-row {
 
    display: flex;
    flex-direction: row;
}

.section3-content {
    
    max-width: 60%;
    width: 50%;
    height: 60%;
    background-color: rgb(91, 73, 230);
    border-radius: 10px;
    margin-top: 7%;
    margin-left: 1%;
  
    margin-top: 20%;

}

.section3-content p {
    font-size: 18px;
    line-height: 1.7;
    font-weight: 300;
    max-height: 9vh;
    padding: 10px;
    overflow: scroll;
}

.section3-img-outer {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 50%;
  
    margin-bottom: 10%;
}

.section3-img {
   
    width: 80%;
  
    border-radius: 15px;
    margin-right: 2%;
    transition: transform 0.3s ease
}

.section3-img:hover {
    transform: scale(1.05);
}




@media (max-width: 850px) {
    .section3-content p {
        font-size: 15px;
       
    }
    
   
}

@media (max-width: 660px) {
    .section3-content p {
       
        max-height: 6vh;
        overflow: scroll;
    }
    
   
}

@media (max-width: 585px) {
    .section3-content p {
      
       font-size: 12px;
        max-height: 6vh;
        overflow: scroll;
    }

    .section3-img-outer {
        margin-top: 12%;
        
    }
    
   
}