.titan-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid #b8b7b769;
  border-radius: 5px;
  font-size: 60px;
  color: white;

  animation: titleAnimation 0.3s ease-out;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  50% {
    opacity: 0.5;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.titan-title {
  margin-top: -300px;
  font-size: 30px;
  animation: titleAnimation 2.3s ease-out;
  margin-bottom: 30px;
  color: rgb(0, 89, 255);
}

.input-group {
  display: flex;
  align-items: center;
  width: 100%;



}

.outerForm {

  width: 90%;
  display: flex;
  justify-content: center;

}

.titan-input-outer {
  width: 100%;
  max-width: 750px;
  height: auto;
  transition: height 0.5s ease;
  border: rgba(255, 255, 255, 0.861) solid;

  border-radius: 20px 20px 20px 20px;



}

.titan-input {
  flex: 1;
  padding: 14px 20px;
  border-right: none;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: rgba(54, 54, 54, 0.229);
 

}

.titan-input2 {
  width: 18%;
  outline: none;
  padding: 14px 20px;
  border-right: none;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;

  background-color: rgba(54, 54, 54, 0.229);
}

.titan-input.expanded,
.expanded2 {

  border-bottom: none;
  transition: width 0.5s ease-in-out;



}

.cardsNumber input {

  width: 100%;
  height: 19px;
  border: rgba(255, 255, 255, 0.439) solid;
  border-left: none;


}

.buttonSpan,
.cardsNumber {
  max-height: 210px;
  margin-top: -29px;


}

.submit {
  padding: 14px 25px;

  border-radius: 0px 20px 20px 0px;
  font-size: 16px;
  background-color:rgb(68, 62, 250);
  border: none;
  color: white;
  cursor: pointer;
  outline: none;

  transition: width 0.5s ease-in-out;
  transition: background-color 0.3s ease-in-out;

}

.submit:hover {
  background-color: #275cb0;
}

.submit:active {
  background-color: #0c409ab9;
  box-shadow: 0 1px 6px rgb(93, 134, 255);

}

.additional-input-container {

  position: relative;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  max-height: 0;


}

.additional-input-container.expanded {
  max-height: 200px;
  max-width: 100%;
  border-radius: 0px 0px 20px 20px;


  background-color: none;
}

.additional-input {
  margin-top: 1px;
  width: 100%;
  height: 300px;
  padding: 14px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  resize: none;
  color: rgb(171, 171, 171);
  background-color: rgba(54, 54, 54, 0.229);


}




.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-indicator {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media only screen and (max-width: 768px) {
  .titan-title {
    font-size: 40px;

  }



}

@media only screen and (max-width: 430px) {

  .titan-input,
  .expanded,
  .titan-input2,
  .additional-input-container, .additional-input {
    font-size: 12px;

  }

  .submit {
    padding: 12px 10px;
    font-size: small;
  }


}